body {
    background-image: url('file:///Users/caitlinsmith/Downloads/roacket-launch-from-earth/25577.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    align-content: space-between;
}

#homepage {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    color: white;
}


#directions {
    font-family: 'Space Mono', monospace;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px #050814; 
}

.levelChoice {
    background-color: white;
    border-width: 3px;
    padding: 15px 32px;
    text-align: center; 
    display: inline-block;
    font-size: 24px;
    border-color: #162045;
    border-radius: 14px;
}

.homepagecredits {
    grid-area: credits;
    text-align: center;
    font-size: x-small;
    font-family: 'Space Mono', monospace;
    color: white;
    justify-content: space-between;
    align-self: flex-end;
    padding-top: 400px;
}

#gamePlayPage {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    text-align: center; 
    color: white;
}

#title {
    grid-area: title;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    text-align: center; 
    color: white;
    text-shadow: 1px 1px #050814;
}

#levelID {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    text-align: center; 
    color: white;
    text-shadow: 1px 1px #050814; 
}

#score {
    grid-area: score;
    padding: 7px 10px; 
    width: 150px;
    font-size: 32px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    text-align: center; 
    color: white;
    position: absolute;
    left: 30px;
}


#timerLabel {
    grid-area: timer;
    padding: 7px 10px; 
    width: 200px;
    font-size: 32px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    text-align: center; 
    color: white;
    position: absolute; 
    right: 30px;
}

#timer {
    grid-area: timertwo;
    padding: 7px 10px; 
    width: 150px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    text-align: center; 
    color: white;
    font-size: 32px;
    position: absolute;
    right: 30px;
    border: 3px white;
}

#start {
    grid-area: go;
    background-color: white;
    border-width: 3px;
    padding: 3px 3px;
    text-align: center; 
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    align-self: flex-end; 
    border-radius: 13px;
}

#flashcards {
    grid-area: flashcard;
    padding: 25px;
    background-color: white;
    width: 200px;
    color: black;
    font-family: 'Space Mono', monospace; 
    font-size: 30px;
    height: 100px;
}

.answer {
    grid-area: answer;
    background-color: white;
    border-width: 3px;
    width: 100px;
    height: 70px;
    text-align: center; 
    display: inline-block;
    font-size: 24px;
    border-color: #162045;
    border-radius: 13px;
    font-family: 'Space Mono', monospace;
}

#restart {
    grid-area: restart;
    background-color: white;
    border-width: 3px;
    padding: 3px 5px;
    text-align: center; 
    font-size: 18px;
    border-color: #162045;
    border-radius: 14px;
}

.credits {
    text-align: center;
    font-size: small;
    font-family: 'Space Mono', monospace;
    color: white;
    justify-content: space-between;
    align-self: flex-end;
}

.gamePlayPage-grid-container {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-template-areas:
        'header header title header header'
        'score score empty timer timer'
        'empty empty empty timertwo timertwo'
        'empty empty go empty empty'
        'empty empty flashcard empty empty'
        'restart empty empty empty empty'
} 

.grid-container > div {
    text-align: center;
    padding: 20px 0;
}


#winnerPage {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    text-align: center; 
    color: white;
}


.row {
    text-align: center;
    justify-content: space-around;
    align-content: space-between;
    font-family: 'Muli', sans-serif;
    color: white;
}

#babyRocket {
    position: absolute;
    left: 0;
    bottom: 0;
}

#mediumRocket {
    position: absolute; 
}

#bigRocket {
    position:absolute;
}

#homeLink {
    font-family: 'Space Mono', monospace;
    color: red;
    text-align: center; 
    font-size: 24px;
    font-weight: bolder;
}


#finalScore {
    font-family: 'Space Mono', monospace;
    color: white; 
    font-size: 30px;
}

#blastOff {
    font-family: 'Space Mono', monospace;
    color: white; 
    font-size: 44px;
}

#uhOhMessage {
    font-family: 'Space Mono', monospace;
    color: red; 
    font-size: 24px;
}

#inputData {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px #050814; 
    display: inline-block;
}

#submitButton {
    background-color: white;
    border-width: 3px;
    padding: 3px 5px;
    text-align: center; 
    display: inline-block;
    font-size: 18px;
    border-color: #162045;
    border-radius: 14px;
}

#saveDirections {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    color: white;
    text-shadow: 1px 1px #050814; 
}

#restartTwo {
    background-color: white;
    border-width: 3px;
    padding: 3px 5px;
    text-align: center; 
    font-size: 18px;
    border-color: #162045;
    border-radius: 14px;
}

form {
    display: inline-block;
}
